@font-face {
  font-family: alpino;
  src: url(fonts/Alpino.ttf);
}
@font-face {
  font-family: poppins;
  src: url(fonts/Poppins.ttf);
}

h1 {
  font-family: alpino;
}

p {
  font-family: poppins;
}
svg {
  width: 100vw;
}
